<html><head>
<style type="text/css">
body {
        font-family: Arial, sans-serif;
        color: #333333;
        font-weight: 200;
        font-size: small;
        background: #FCFCFC;
}
table.p3basic, table.p3basic th,
table.p3basic td, table.p3basic tr {
        border-style: inset;
        border-collapse: collapse;
        vertical-align: top;
        padding: 3px;
}
table.p3basic th {
        text-align: left;
        background: #EEEEEE;
}</style>
<title>[% genome_id %] Neighborhood</title></head><body>

<h1>Genome Neighborhood for [% genome_id %] [% genome_name %]</h1>

<p>[% genome_id %] is represented by <b>[% rep_id %] [% rep_name %]</b>. It has a similarity score of [% rep_score %].</p>

<table class="p3basic">

<tr>
<th>Similarity<br />Score</th>
<th>Genome ID</th>
<th>Genome Name</th>
</tr>

[% FOR g IN genomes %]
<tr>
<td>[% g.score %]</td>
<td><a target="_blank" href="https://www.patricbrc.org/view/Genome/[% g.id %]">[% g.id %]</a></td>
<td>[% g.name %]</td>
</tr>
[% END %]
</table>
</body></html>
